.details {
  &_wapper {
    display: flex;
  }
  &__images {
    display: flex;
    align-items: center;

    &-left {
      display: flex;
      flex-direction: column;
      gap: 22.68px;
      & > a > img {
        width: 68.05px;
        height: 68.05px;
      }
    }
    &-right {
      margin-left: 34px;
      max-width: 520px;
      height: 785px;
      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }
  //   details content
  &__content {
    padding-left: 74px;
    max-width: 534px;
    &-nav {
      padding-top: 30px;
      & > ul {
        display: flex;
        list-style: none;
        gap: 15px;
        & > li {
          & > a {
            text-decoration: none;
            color: #807d7e;
            font-size: 18px;
            font-weight: 400;
            line-height: calc(24.45 / 18);
          }
        }
      }
    }
    &-heading {
      padding-top: 28px;
      & > h1 {
        font-size: 34px;
        line-height: calc(47.6 / 34);
        font-weight: 800;
      }
    }
    &-desc {
      padding-top: 31px;
      display: flex;
      align-items: center;
      gap: 20px;
      .details_star {
        display: flex;
    
        gap: 10px;
         &> img {
             width: 22px;
             height: 22px;
         }
      }
      .details_comment {
        display: flex;
        align-items: center;
        font-size: 18px;
         gap:15px;
        line-height: calc(24.55 / 18);
      }
    }
  }
}
